@import "bootstrap-sprockets";
@import "bootstrap";
@import "base.scss";

#chart-container {
  min-height: 500px;
}

.summarystats {
    .content {
        border: none;
        background-color: #efefef;
        padding-top: 10px;
        padding-bottom: 10px;

        h4 {
          color: #2196F3;
        }

        // &#sentiment {
        //     h4, h2 {
        //         color: #f44336;
        //     }
        // }
        //
        // &#num_tweet {
        //     h4, h2 {
        //         color: #2196F3;
        //     }
        // }
    }
}
